<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>

    <h3>Usage:</h3>
    <code>https://peaceful-caverns-62358.herokuapp.com/new/&lt;your url here&gt;</code>
    <p>You'll get the shortened version of the URL back via JSON response. Go to that url, and it should redirect you to the long one!</p>
    <p>The url entered must be in the format <code>http://www.example.com</code></p>

    <p>Created by Ryan Magoon. Code <a href="https://github.com/ryanmagoon/url-shortener">here</a>.</p>
</body>
</html>